/* font-family: "OpenSansRegular"; */
@font-face {
	font-family: "RobotoCondensedRegular";
	src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
		url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff2") format("woff2"),
		url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
}

@font-face {
	font-family: "RobotoCondensedBold";
	src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
		url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff2") format("woff2"),
		url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}



@font-face {
	font-family: "RobotoCondensedBoldItalic";
	src: url("../fonts/RobotoCondensedBoldItalic/RobotoCondensedBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoCondensedBoldItalic/RobotoCondensedBoldItalic.woff") format("woff"),
		url("../fonts/RobotoCondensedBoldItalic/RobotoCondensedBoldItalic.woff2") format("woff2"),
		url("../fonts/RobotoCondensedBoldItalic/RobotoCondensedBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}


@font-face {
	font-family: "RobotoCondensedIitalic";
	src: url("../fonts/RobotoCondensedIitalic/RobotoCondensedIitalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoCondensedIitalic/RobotoCondensedIitalic.woff") format("woff"),
		url("../fonts/RobotoCondensedIitalic/RobotoCondensedIitalic.woff2") format("woff2"),
		url("../fonts/RobotoCondensedIitalic/RobotoCondensedIitalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}


@font-face {
	font-family: "RobotoCondensedLight";
	src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
		url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff2") format("woff2"),
		url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}


@font-face {
	font-family: "RobotoCondensedLightItalic";
	src: url("../fonts/RobotoCondensedLightItalic/RobotoCondensedLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoCondensedLightItalic/RobotoCondensedLightItalic.woff") format("woff"),
		url("../fonts/RobotoCondensedLightItalic/RobotoCondensedLightItalic.woff2") format("woff2"),
		url("../fonts/RobotoCondensedLightItalic/RobotoCondensedLightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 200;
	font-display: swap;
}


// 100 Extra Light or Ultra Light
// 200 Light or Thin
// 300 Book or Demi
// 400 Normal or Regular
// 500 Medium
// 600 Semibold, Demibold
// 700 Bold
// 800 Black, Extra Bold or Heavy
// 900 Extra Black, Fat, Poster or Ultra Black



// 100 — тонкое начертание;
// 200 — сверхсветлое;
// 300 — светлое;
// 400 — нормальное (аналогично normal);
// 500 — среднее;
// 600 — полужирное;
// 700 — жирное (аналогично bold);
// 800 — сверхжирное;
// 900 — тяжёлое.
// https://webfonts.pro/

